.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 0.6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: bold;
	max-height: 60px;
	z-index: 1000;
	overflow: hidden;
	@include clay-effect();
	border-radius: 0;

	@media screen and (min-width: 700px) {
		flex-direction: row;
		max-height: 70px;
	}

	.nav-icon-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-icon-wrapper {
		display: flex;
		gap: 10px;
		align-items: center;
		text-wrap: nowrap;

		.nav-icon {
			width: 100%;
			max-width: 40px;

			@media screen and (min-width: 700px) {
				max-width: 50px;
			}
		}

		.nav-title {
			font-size: 1.8rem;
			font-family: "Merriweather";
		}
	}

	.nav-links {
		display: none;

		@media screen and (min-width: 700px) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			gap: 2rem;
			font-size: 0.9rem;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}
}

.toggle-btn {
	background: none;
	display: flex;
	cursor: pointer;
	flex-direction: column;
	justify-content: space-around;
	width: 35px;
	height: 30px;
	padding: 5px;

	@media screen and (min-width: 700px) {
		display: none;
	}

	.bar {
		height: 3px;
		width: 100%;
		background-color: $accent-color;
		border-radius: 2px;
	}

	&.toggled {
		.bar:first-child {
			transform: rotate(45deg) translate(5px, 5px);
		}
		.bar:last-child {
			transform: rotate(-45deg) translate(5px, -5px);
		}
		.bar:nth-child(2) {
			opacity: 0;
		}
	}
}

.bottom-panel {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60vh;
	transform: translateY(100%);
	z-index: 1000;

	@include flex-center;
	@include clay-effect;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	@media screen and (min-width: 700px) {
		display: none;
	}
}

.bottom-panel-links {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;

	.panel-link {
		font-size: 1.5rem;
	}
}
