@import "reset";
@import "animations";
@import "navbar";
@import "footer";

/* =====================
   HEADER
===================== */
.header {
	height: 100vh;
	background: url("../assets/header.jpg");
	background-position: left top;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	&::after {
		position: absolute;
		content: "";
		inset: 0;
		background: linear-gradient(rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.7) 90%);
		pointer-events: none;
	}

	@media screen and (min-width: 700px) {
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}
}

.header-content {
	z-index: 2;
	padding: 2rem;
	width: 100%;
	color: $secondary-color;
	text-align: left;

	@media screen and (min-width: 700px) {
		text-align: left;
		width: 45%;
	}
}

.header-title {
	font-size: clamp(3rem, 5vw, 4.5rem);
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1rem;
	font-family: "Merriweather";
}

.header-subtitle {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
	letter-spacing: 1px;
}

.cta-section {
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
	gap: 1rem;

	@media screen and (min-width: 700px) {
		justify-content: flex-start;
	}

	.btn {
		padding: 0.8rem 1.5rem;
		text-decoration: none;
		font-weight: 600;
		font-size: 1rem;
	}
}

/* =====================
   INSIGHTS SECTION
===================== */
.insights-section {
	margin-top: 2rem;
}

.insights-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
	width: 100%;

	@media screen and (min-width: 700px) {
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}
}

.insight-card {
	@include clay-effect();
	aspect-ratio: 1;
	border-radius: $border-radius-general;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: default;

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3),
			inset 6px 6px 14px rgba(0, 0, 0, 0.2),
			inset -4px -4px 10px rgba(255, 255, 255, 0.05);
	}
}

.insight-header {
	display: flex;
	justify-content: flex-start;
	gap: 0.5rem;
	align-items: center;
}

.insight-icon {
	width: 100%;
	max-width: 30px;
	border-radius: 100dvh;
	padding: 0.3rem;
	box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.25),
		inset -3px -3px 6px rgba(255, 255, 255, 0.1);

	@media screen and (min-width: 700px) {
		max-width: 50px;
	}
}

.insight-title {
	font-size: 1.3rem;
	font-weight: 600;
}

.insight-number {
	font-size: 2.5rem;
	font-weight: 800;
	align-self: flex-end;
	font-family: "Merriweather";
	letter-spacing: 1.5px;
}

/* =====================
   BEHAVIOR SECTION
===================== */
.behavior-section {
	background-color: $dark-color;
	padding-block: 3rem;
	max-width: none;
	width: 100%;
}

.accordion {
	max-width: 1200px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	align-items: flex-start;
	justify-content: center;

	@media screen and (min-width: 700px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.accordion-item {
	@include clay-effect();
	background-color: $primary-color;
	overflow: hidden;
	max-width: 350px;

	.accordion-header {
		width: 100%;
		padding: 1.2rem 1rem;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.2rem;
		font-weight: 600;
		text-align: left;
		background: none;
		color: $secondary-color;

		.accordion-icon {
			max-width: 40px;
		}

		.accordion-plus-icon {
			font-size: 1.5rem;
		}

		&.active .accordion-plus-icon {
			transform: rotate(45deg);
		}
	}

	.accordion-content {
		max-height: 0px;
		overflow: hidden;
		padding: 0 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		img {
			border-radius: $border-radius-general;
		}

		p {
			font-size: 1rem;
			line-height: 1.5;
			color: $secondary-color;
			margin-bottom: 1rem;
		}
	}

	&.open {
		.accordion-content {
			padding: 1rem;
			max-height: 500px;
		}
	}
}

/* =====================
   MYTHOLOGY SECTION
===================== */
.mythology-section {
	text-align: center;
	max-width: none;
	padding: 0;

	.section-description {
		padding: 1rem;
	}
	// Background Images
	.norse {
		background-image: url("../assets/cultures/norse.jpg");
	}
	.native {
		background-image: url("../assets/cultures/native-american.jpg");
	}
	.celtic {
		background-image: url("../assets/cultures/celtic.jpg");
	}
	.greek-roman {
		background-image: url("../assets/cultures/greek-roman.jpg");
	}
	.asian {
		background-image: url("../assets/cultures/asian.jpg");
	}
}

.mythology-container {
	height: 80vh;
	width: 100%;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

.mythology-feature {
	scroll-snap-align: start;
	position: relative;
	height: 80vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $secondary-color;
	background-size: cover;
	background-position: center;
	overflow-y: hidden;
	background-position: top;

	.overlay {
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.5);
	}

	.content {
		position: relative;
		max-width: 700px;
		padding: 2rem;
		text-align: center;

		h2 {
			font-size: 2rem;
			margin-bottom: 1rem;
		}

		p {
			font-size: 1.1rem;
			line-height: 1.5;
		}
	}
}

/* =====================
   CONSERVATION SECTION
===================== */
.conservation-section {
	text-align: center;

	.conservation-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 2rem;
	}

	.conservation-card {
		@include clay-effect();
		padding: 2rem;
		border-radius: $border-radius-general;
		position: relative;
		text-align: left;
		overflow: hidden;
		transition: transform 0.3s ease, box-shadow 0.3s ease;

		&:hover {
			transform: translateY(-5px);
			box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3),
				inset 6px 6px 14px rgba(0, 0, 0, 0.2),
				inset -4px -4px 10px rgba(255, 255, 255, 0.05);
		}

		// Accent Line
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 6px;
		}

		.conservation-title {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}

		.conservation-text {
			font-size: 1.1rem;
			line-height: 1.5;

			/* .highlight {
				font-weight: 700;
				color: $accent-color;
			} */
		}
	}

	.conservation-card:nth-child(1)::before {
		background: #3b82f6;
	}
	.conservation-card:nth-child(2)::before {
		background: #f97316;
	}
	.conservation-card:nth-child(3)::before {
		background: #22c55e;
	}
	.conservation-card:nth-child(4)::before {
		background: #a855f7;
	}
	.conservation-card:nth-child(5)::before {
		background: #eab308;
	}
	.conservation-card:nth-child(6)::before {
		background: #ec4899;
	}
}

/* =====================
   GALLERY SECTION
===================== */
.gallery-section {
	.section-title,
	.section-subtitle {
		color: $primary-color;
	}
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 150px;
	gap: 0.75rem;
	width: 100%;

	.btn {
		max-width: none;
	}

	&:hover {
		.gallery-item:not(:hover) {
			filter: grayscale(1);
		}
	}

	@media screen and (min-width: 700px) {
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 200px;
		gap: 1.25rem;
	}
}

.gallery-item {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: $border-radius-rounded;
	cursor: pointer;
	position: relative;
	@include clay-effect();

	&:hover {
		transform: scale(1.03);
		filter: brightness(1.1) saturate(1.1);
	}

	&:nth-child(1) {
		grid-row: span 2;
	}
	&:nth-child(4) {
		grid-column: span 2;
	}
	&:nth-child(6) {
		grid-row: span 2;
	}

	@media screen and (min-width: 700px) {
		&:nth-child(1) {
			grid-row: auto;
		}
		&:nth-child(2) {
			grid-row: span 2;
		}
		&:nth-child(3) {
			grid-column: span 2;
		}
		&:nth-child(4) {
			grid-column: auto;
		}
		&:nth-child(6) {
			display: none;
		}
	}
}
